@import url("https://fonts.googleapis.com/css2?family=KoHo:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "KoHo", sans-serif;
}

.container {
  background-color: #060822;
  min-height: 100vh;
  width: 100%;
  padding: 50px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo {
  height: 100px;
  cursor: pointer;
}
.figure {
  text-align: center;
  margin: 20px 0px;
}
figcaption {
  font-size: 1.3rem;
  font-weight: 600;
  color: #fff;
  margin: 10px 0px;
  word-spacing: 5px;
}
@media (max-width: 1024px) {
  .container {
    padding-bottom: 860px;
  }
}
@media (max-width: 1000px) {
  .container {
    padding-bottom: 200px !important;
  }
}
@media (max-width: 849px) {
  .container {
    padding-bottom: 260px !important;
  }
}
@media (max-width: 799px) {
  .container {
    padding-bottom: 200px !important;
  }
}
@media (max-width: 530px) {
  .container {
    padding-bottom: 100px !important;
  }
}
